name: proiect-aso
services:
  ollama:
    build:
      context: ./docker_ollama
      dockerfile: ./Dockerfile
    ports:
        - "11435:11434"
    volumes:
        - ollama:/root/.ollama
    container_name: ollama
    networks:
        ollama-docker:
  mcp_server:
    build:
      context: ./my_server
      dockerfile: ./Dockerfile
    ports:
        - "8101:8100"
    container_name: mcp_server
    networks:
        ollama-docker:
  agent:
    build:
      context: ./my_agent
      dockerfile: ./Dockerfile
    container_name: agent
    ports:
      - "8000:8000"
    environment:
      OLLAMA_API_BASE: "http://ollama:11434"
      URL_MCP: "http://mcp_server:8100/mcp"
    networks:
      ollama-docker:
volumes:
  ollama:

networks:
  ollama-docker:
    external: true